*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cl-medium-dark-brown: rgb(176, 88, 5);
  --cl-linear: linear-gradient(
    to left,
    var(--cl-light-grey),
    var(--cl-very-dark-brown),
    var(--cl-medium-dark-brown) 0.7rem
  );
  --cl-very-dark-brown: rgb(114, 57, 3);
  --cl-light-grey: rgb(217, 218, 217);
  --cl-white: rgb(231, 237, 204);
  --cl-dark-green: rgb(19, 85, 20);
  --cl-dark-brown: rgb(250, 185, 6);
  --cl-medium-red: rgb(230, 12, 2);
  --cl-medium-green: rgb(2, 153, 7);
  --cl-light-green: rgb(143, 250, 163);

  --fw-bold: 900;

  --fs-big: 2.5rem;
  --fs-small: 1.2rem;

  --mx-width: 16rem;

  --br-small: 0.2rem;

  --bx-shadow-inset: inset 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
  --bx-shadow-normal: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.9);

  --pd-small: 0.6rem;
}
body {
  font-family: Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--mx-width);
  border: 0.3rem solid var(--cl-very-dark-brown);
  border-radius: 0.5rem;
  text-align: center;
  gap: 0.3rem;
  background: var(--cl-very-dark-brown);
  color: var(--cl-dark-brown);
}
.info {
  color: var(--cl-white);
}
h5 {
  padding: var(--pd-small);
  border: 0.1rem dashed var(--cl-medium-dark-brown);
  border-radius: 0.2rem;
}
.resetButton {
  margin-left: 2rem;
  cursor: pointer;
  background: var(--cl-medium-red);
  color: var(--cl-light-green);
  border-radius: 0.2rem;
}
.liveDisplayCon {
  position: relative;
  overflow: hidden;
  max-width: 5rem;
  min-width: 4.5rem;
  height: 2rem;
  font-weight: var(--fw-bold);
  color: var(--cl-very-dark-brown);
  background: var(--cl-white);
  box-shadow: var(--bx-shadow-inset);
  font-size: var(--fs-small);
  display: flex;
  align-items: center;
}

.liveDisplay {
  text-align: center;
  position: absolute;
  animation: scrolltext 2s infinite alternate;
  white-space: nowrap;
  margin-left: 0.5rem;
}

.displayExpression {
  flex: 1;
  padding: 1rem;
  box-shadow: var(--bx-shadow-inset);
  border: none;
  border-radius: var(--br-small);
  background: var(--cl-light-grey);
  font-size: var(--fs-big);
  text-align: right;
}
.digit-operator-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.digit-operator-container div {
  width: calc(100% / 4);
  height: 4rem;
  background: var(--cl-medium-dark-brown);
  box-shadow: var(--bx-shadow-normal);
  border-radius: var(--br-small);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  color: var(--cl-white);
}
.digit-operator-container div:hover {
  cursor: pointer;
}
.digit-operator-container div:active {
  opacity: 0.8;
}
.digit-operator-container .ac {
  background: var(--cl-medium-red);
}
.digit-operator-container .plus-minus,
.digit-operator-container .percent {
  background: Var(--cl-dark-brown);
  color: Var(--cl-very-dark-brown);
}
.digit-operator-container .backspace {
  background: var(--cl-linear);
}
.digit-operator-container .operators {
  background: Var(--cl-dark-green);
  color: var(--cl-dark-brown);
}
.digit-operator-container .zero {
  flex: 1;
}
.digit-operator-container .equal {
  background: var(--cl-medium-green);
  color: var(--cl-light-green);
}
